PORT=5000
ALLOWED_URLS=http://localhost:5173
JWT_SECRET=secret

MONGO_URI_LOCAL=mongodb://localhost:27017
DB_NAME_LOCAL=notification_service_local
LOCAL_DB_LABEL=LOCAL_DB

MONGO_URI_ATLAS=mongodb+srv://user:pass@cluster0.abcd1.mongodb.net/?retryWrites=true&w=majority
DB_NAME_ATLAS=notification_service_atlas
ATLAS_DB_LABEL=ATLAS_DB